<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.PWA_NAME }}</title>
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="theme-color" content="#000000">
    {% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }
        #content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    </style>
    <script>
        // Bloqueia a atualização da página
        window.addEventListener('beforeunload', function (e) {
            // Cancela o evento
            e.preventDefault();
            // Chrome requer que returnValue seja definido
            e.returnValue = '';
        });

        // Desabilita o botão de atualização do navegador (F5 e Ctrl+R)
        document.onkeydown = function(e) {
            if (e.keyCode == 116 || (e.ctrlKey && e.keyCode == 82)) {
                e.preventDefault();
                return false;
            }
        };
    </script>
</head>
<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    {% assets "js_all" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
</body>
</html>